*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
/* HEADER */
.logo{
    width: 150px;
    height: 120px;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-around;
    min-height: 8vh;
    background-color: #294674;
}

.enlaces-menu{
    display: flex;
    padding: 0;
}

.enlaces-menu li{
    padding: 0 40px;
    list-style-type: none;
}

.enlaces-menu li a{
    text-decoration: none;
    font-size: 1.8rem;
    color:#fff;
    font-weight: 600;
}

.enlaces-menu li:hover{
    background-color: #46A2FD;
}

/* BODY*/

body{
    background-color: cyan;

}
main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor-principal{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.contenedor-adaptable{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: #294674;
}

.contenedor-adaptable div{
margin: 100px 40px;
color: white;
transition: all 500ms;
}

.contenedor-adaptable div p,
.contenedor-adaptable div button{
    margin-top: 30px;
}

.contenedor-adaptable div h3{
    font-weight: 400;
    font-size: 26px;
}

.contenedor-adaptable button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.contenedor-adaptable button:hover{
    background: #fff;
    color: #46A2FD;
}

/*Formularios*/ 

.contenedor-login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
}

.contenedor-login-register form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.contenedor-login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #294674;
}

.contenedor-login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor-login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #294674;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}

.formulario-login{
    opacity: 1;
    display: block;
}

.formulario-register{
    display: none;
}

@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .contenedor-adaptable{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .contenedor-adaptable div{
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .contenedor-login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor-login-register form{
        position: relative;
    }
}

/* Error formularios */

.input-control {
    display:flex;
    flex-direction: column;
}

.input-control.success input{
    border-color:#09c372;
}

.input-control.error input{
    border-color: #ff3860;
}

.input-control.error{
    color: #ff3860;
}

.result{
    color:black;
}


/* Pagina tarifas //informacion.html*/

#price {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
}

#titulo {
    display: flex;
}

.precio {
    position: relative;
}

.euros{
    position: absolute;
    left: 40px;
}

.numero{
    font-size: 50px;
    color: #8e8e8e;
}

.mes {
    font-size: 13px;
}

.table {
    background: #fff;
    padding: 80px;
}

.caracteristicas {
    font-size: 14px;
    color: #8e8e8e;
}

#btnPlata, .btnOro, .btnDiamante {
    background: #294674;
    color: #fff;
    text-decoration: none;
    padding: 8px 22px;
    display: inline-block;
    margin-top: 50px;
}

.numero2{
    font-size: 50px;
    color: yellow;
}

.numero3{
    font-size: 50px;
    color: green;
}

#tablados {
    position: relative;
    box-shadow: 1px 1px 12px #ccc;
}

.cuadradosuperior {
    width: 276px;
    height: 60px;
    background: #fff;
    position: absolute;
    top: -38px;
    left: 0px;
    box-shadow: -2px -4px 5px #ccc;
}

.cuadradoinferior {
    width: 276px;
    height: 40px;
    background: #fff;
    position: absolute;
    bottom: -38px;
    left: 0px;
    box-shadow: -1px 4px 5px #ccc;
}

/* Pagina instalaciones //instalaciones.html*/

#main-inst {
    margin: 50px auto;
    width: 600px;
}

table{
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th, td{
    padding: 20px;
}

thead {
    background-color: #294674;
    border-bottom: solid 5px #0b1b36;
    color: white;
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover {
    background-color: #294674;
    color:white;
}